<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>61AEEF8D-1681-422F-B615-4F9BA8CADC01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A3F56F-9BFD-416E-B90B-8F7CD0CE9581</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B03628F2-00C4-4D8C-B456-CABEF4CAF507</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2B1AB0D-FB5E-458F-9FF7-EAB939CB6D94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1BBA89A-D9F5-4753-AC0F-E6AF2F202C68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2B1AB0D-FB5E-458F-9FF7-EAB939CB6D94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2B1AB0D-FB5E-458F-9FF7-EAB939CB6D94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61AEEF8D-1681-422F-B615-4F9BA8CADC01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>js-beautify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Sublime Text.app</string>
				<key>sourcefile</key>
				<string>~/Desktop/beautified_json.json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C1A3F56F-9BFD-416E-B90B-8F7CD0CE9581</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>~/Desktop/beautified_json.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>D2B1AB0D-FB5E-458F-9FF7-EAB939CB6D94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/local/bin/node &lt;&lt;-'CODE'
var beautify = require('js-beautify').js_beautify;
var fs = require('fs');
//var file = '/Users/wujichao/Desktop/beautified_json.json';
//var file = '~/Desktop/beautified_json.json';
var file = process.env.HOME + '/Desktop/beautified_json.json';
try {
    var data = fs.readFileSync(file, 'utf8');
    var r = beautify(data);
    fs.writeFileSync(file, r, 'utf8');
} catch (e) {
    fs.writeFileSync(file, e, 'utf8');
}
CODE</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61AEEF8D-1681-422F-B615-4F9BA8CADC01</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B1BBA89A-D9F5-4753-AC0F-E6AF2F202C68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B03628F2-00C4-4D8C-B456-CABEF4CAF507</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>61AEEF8D-1681-422F-B615-4F9BA8CADC01</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>B03628F2-00C4-4D8C-B456-CABEF4CAF507</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>B1BBA89A-D9F5-4753-AC0F-E6AF2F202C68</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C1A3F56F-9BFD-416E-B90B-8F7CD0CE9581</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D2B1AB0D-FB5E-458F-9FF7-EAB939CB6D94</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
